@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

body {
  background: rgba(255, 255, 255, 1);
}

.font-manrope {
  font-family: "Manrope", sans-serif;
}

.btn-gradi {
  background: linear-gradient(
    270deg,
    rgba(255, 0, 0, 1),
    rgba(255, 137.00003051757812, 55.999996185302734, 1) 100%
  );
}

.feature-bg-gradient {
  background: linear-gradient(
    180deg,
    rgba(244, 244, 244, 1),
    rgba(244, 244, 244, 0) 100%
  );
}

.greattea-bg-gradient {
  background: linear-gradient(
    90deg,
    rgba(244, 244, 244, 1),
    rgba(244, 244, 244, 0) 100%
  );
}

p {
  color: #777777;
  font-weight: 500;
}

.testimonial-p {
  color: white;
}